@page "/login"

<PageTitle>Login</PageTitle>

@if (_authenticationSchemes != null)
{
    @foreach (var scheme in _authenticationSchemes)
    {
        <form action="/api/v1/users/authenticate">
            <input type="hidden" name="scheme" value="@scheme.Scheme" /> 
            <input type="hidden" name="returnUrl" value="/" /> 
            <input type="submit" value="Login via @scheme.DisplayName" />
        </form>
    }
}
