@inherits StateComponentBase

<div class="nav">
    <a class="nav-logo" href="/">
        <img src="images/network_icon.png" />
        @this.GeneralOptions.Value.ApplicationName
    </a>
    @if (this.AppState.IsCatalogStateUpdating)
    {
        <div class="flex-centered"><i class="pulsate-css"></i>&nbsp;&nbsp; Updating catalogs ...</div>
    }
    <LoginDisplay />
</div>