<div class="bg-cyan-900 hidden xl:flex flex-col justify-between p-3 @CssClass">

    <Leftbar_Settings />
    <Leftbar_Actions />

</div>

@code {

    [Parameter]
    public string? CssClass { get; set; }
}