@inject IAppState AppState

<div>
    <UIDatePicker Label="From (UTC)" @bind-Value="AppState.Settings.Begin">
    </UIDatePicker>

    <UIDatePicker Label="To (UTC)" @bind-Value="AppState.Settings.End">
    </UIDatePicker>

    <UITextBox Label="Sample Period" @bind-Value="AppState.Settings.SamplePeriod">
    </UITextBox>
</div>