@inject IAppState AppState

<div class="bg-cyan-900 hidden xl:flex flex-col justify-between p-3 @CssClass">

    <div>
        <UIDatePicker Label="From (UTC)" @bind-Value="Begin">
        </UIDatePicker>

        <UIDatePicker Label="To (UTC)" @bind-Value="End">
        </UIDatePicker>

        <UITextBox Label="Sample Period" @bind-Value="SamplePeriod">
        </UITextBox>

        <UICheckbox Label="Begin at zero">
        </UICheckbox>
    </div>

    <div class="flex justify-between text-gray-200">
        <div class="p-4 flex flex-col justify-center items-center hover:text-orange-500 cursor-pointer">
            <span class="text-2xl mdi mdi-folder-open mb-1"></span>
            <span class="text-sm">Load</span>
        </div>
        <div class="p-4 flex flex-col justify-center items-center hover:text-orange-500 cursor-pointer">
            <span class="text-2xl mdi mdi-file-download mb-1"></span>
            <span class="text-sm">Save</span>
        </div>
        <div class="p-4 flex flex-col justify-center items-center hover:text-orange-500 cursor-pointer">
            <span class="text-2xl mdi mdi-chart-areaspline mb-1"></span>
            <span class="text-sm">Visualize</span>
        </div>
    </div>

</div>

@code {

    [Parameter]
    public string? CssClass { get; set; }

    private DateTime Begin
    {
        get
        {
            return AppState.ExportParameters.Begin;
        }
        set
        {
            AppState.ExportParameters = AppState.ExportParameters with { Begin = DateTime.SpecifyKind(value, DateTimeKind.Utc) };

            if (AppState.ExportParameters.Begin >= AppState.ExportParameters.End)
                AppState.ExportParameters = AppState.ExportParameters with { End = AppState.ExportParameters.Begin };
        }
    }

    private DateTime End
    {
        get
        {
            return AppState.ExportParameters.End;
        }
        set
        {
            AppState.ExportParameters = AppState.ExportParameters with { End = DateTime.SpecifyKind(value, DateTimeKind.Utc) };

            if (AppState.ExportParameters.End <= AppState.ExportParameters.Begin)
                AppState.ExportParameters = AppState.ExportParameters with { Begin = AppState.ExportParameters.End };
        }
    }

    private Period SamplePeriod 
    {
        get => new Period(AppState.SamplePeriod);
        set => AppState.SamplePeriod = value.Value == default 
            ? TimeSpan.FromSeconds(1) 
            : value.Value;
    }
}