@inject IAppState AppState

<div>
    @foreach (var selectedItem in AppState.Settings.SelectedCatalogItems)
    {
        <CatalogItemSelectionView SelectedItem="selectedItem" />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.Settings.PropertyChanged += (sender, e) => 
        {
            if (e.PropertyName == nameof(AppState.Settings.SelectedCatalogItems))
                StateHasChanged();

            else if (e.PropertyName == nameof(AppState.Settings.SamplePeriod))
                StateHasChanged();
        };
    }
}

