@inherits LayoutComponentBase
@inject IAppState AppState
@inject NavigationManager NavigationManager

<AuthorizeView>

    <Authorized>
        <Navbar OpenHamburgerMenu="() => _isHamburgerMenuOpen = true" />

        <div class="flex flex-1 max-w-full overflow-y-auto">
            @if (!_isHamburgerMenuOpen)
            {
                <Leftbar CssClass="w-64" />
            }

            <div class="flex-1 bg-gray-100 min-w-0"> <!-- min-w-0: if license is wider than screen => https://stackoverflow.com/a/66689926 -->
                @Body
            </div>

            @if (!_isHamburgerMenuOpen)
            {
                <Rightbar CssClass="w-64" />
            }
        </div>
        @if (_isHamburgerMenuOpen)
        {
            <HamburgerMenu @bind-IsOpen="_isHamburgerMenuOpen" Width="w-72" />
        }
    </Authorized>

    <NotAuthorized>
        @foreach (var scheme in AppState.AuthenticationSchemes)
        {
            <form action="/api/v1/users/authenticate">
                <input type="hidden" name="scheme" value="@scheme.Scheme" /> 
                <input type="hidden" name="returnUrl" value="@NavigationManager.Uri" /> 
                <input type="submit" value="Login via @scheme.DisplayName" />
            </form>
        }
    </NotAuthorized>

</AuthorizeView>

@code {
    private bool _isHamburgerMenuOpen;
}