@inherits LayoutComponentBase
@inject IAppState AppState
@inject NavigationManager NavigationManager

<AuthorizeView>

    <Authorized>
        <Navbar />

        <div class="flex flex-1">
            <Leftbar CssClass="w-64" />

            <div class="flex-1 bg-gray-100">
                @Body
            </div>

            <Rightbar CssClass="w-64" />
        </div>
    </Authorized>

    <NotAuthorized>
        @foreach (var scheme in AppState.AuthenticationSchemes)
        {
            <form action="/api/v1/users/authenticate">
                <input type="hidden" name="scheme" value="@scheme.Scheme" /> 
                <input type="hidden" name="returnUrl" value="@NavigationManager.Uri" /> 
                <input type="submit" value="Login via @scheme.DisplayName" />
            </form>
        }
    </NotAuthorized>

</AuthorizeView>