<div class="z-0 w-full bg-white py-3 pr-3 flex justify-between items-center text-slate-500 bg-gray-200 shadow-md">
    <img class="ml-6" src="text.svg" />

    <div class="flex items-center">
        <a class="text-sm text-gray-400 mx-5 hover:text-orange-500" href="api" target="_blank">API</a>
        <div class="w-9 h-9 flex justify-center items-center rounded-full bg-cyan-900 text-white">@GetInitials(_authenticationState.User.Identity!.Name!)</div>   
    </div>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> GetAuthenticationStateTask { get; set; } = default!;

    private AuthenticationState _authenticationState = default!;

    protected override async Task OnInitializedAsync()
    {
        _authenticationState = await GetAuthenticationStateTask;
    }

    private string GetInitials(string name)
    {
        var parts = name.Split(" ", StringSplitOptions.RemoveEmptyEntries);
        var initials = string.Empty;

        foreach (var part in parts)
        {
            initials += part[0];
        }

        return initials.ToUpper();
    }
}