@using System.Text.Json
@using System.Security.Claims
@inject NexusClient Client

<div class="z-0 w-full bg-white py-3 px-3 flex justify-between items-center text-slate-500 bg-gray-200 shadow-md">
    <img class="mr-3" src="32x32.png" />
    <div class="w-9 h-9 flex justify-center items-center rounded-full bg-slate-800 text-white">@GetInitials(AuthenticationState.User.Identity!.Name!)</div>   
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> GetAuthenticationStateTask { get; set; }

    private AuthenticationState AuthenticationState;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState = await GetAuthenticationStateTask;
    }

    private string GetInitials(string name)
    {
        var parts = name.Split(" ", StringSplitOptions.RemoveEmptyEntries);
        var initials = string.Empty;

        foreach (var part in parts)
        {
            initials += part[0];
        }

        return initials.ToUpper();
    }
}