<div class="bg-cyan-900 hidden xl:flex flex-col p-3 @CssClass">

    <Rightbar_Settings />
    <Rightbar_CatalogItems />
    <Rightbar_Actions />

</div>

@code {
    [Parameter]
    public string? CssClass { get; set; }
}
