@inject IAppState AppState

<div class="flex-1">
    @foreach (var catalogItem in AppState.SelectedCatalogItems)
    {
        <CatalogItemSelectionView 
            CatalogItem="catalogItem" 
            OnDoubleClick="() => AppState.ToggleCatalogItemSelection(catalogItem)" />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.PropertyChanged += (sender, e) => 
        {
            if (e.PropertyName == nameof(AppState.SelectedCatalogItems))
                this.StateHasChanged();
        };
    }
}

