<div class="w-64 bg-cyan-900 flex-col p-3">

    <UISelect Label="From (UTC)" Items="_items">
    </UISelect>

    <UISelect Label="To (UTC)" Items="_items">
    </UISelect>

    <UISelect Label="File Granularity" Items="_items">
    </UISelect>

    <UISelect Label="File Type" Items="_items">
    </UISelect>

    <UISelect Label="Row index format" Items="_items">
    </UISelect>

    <UISelect Label="Significant figures" Items="_items">
    </UISelect>

    <UISelect Label="Sample rate" Items="_items">
    </UISelect>

    <UICheckbox Label="Begin at zero">

    </UICheckbox>

</div>

@code {
    private List<string> _items = new List<string>(){ "20.04.2022 00:00", "21.04.2022 00:00", "Single file", "Comma-separated (*.csv)", "Index-based", "4" };
}