<div class="w-12 md:w-52 bg-slate-800">

    <ul>
        
        <li>
            <NavLink 
                class="nav-link flex items-center text-sm py-4 px-3 text-white text-ellipsis hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
                Match=NavLinkMatch.All
                href="">
                <i class="mdi mdi-home pr-5"></i>
                <span class="invisible md:visible">Home</span>
            </NavLink>
        </li>

        <li class="border-b border-gray-400"></li>

        <li>
            <NavLink class="nav-link flex items-center text-sm py-4 px-3 text-white text-ellipsis hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out" href="catalogs/awesome">
                <i class="mdi mdi-pencil pr-5"></i>
                <span class="invisible md:visible">Catalogs</span>
            </NavLink>
        </li>

    </ul>

</div>