<div class="border border-cyan-700 hover:border-cyan-600 text-gray-200 hover:bg-cyan-800 rounded flex justify-center"
     @onclick="OnClick">
    <button type="button" class="uppercase tracking-wide flex items-center">
        <span class="mdi mdi-@Icon mr-1 text-xl"></span>
        <span>@Label</span>
    </button>
</div>

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string Icon { get; set; } = default!;

    [Parameter]
    public string Label { get; set; } = default!;
}