<div class="relative">

    <input @bind="IsChecked" @bind:event="oninput"
        type=checkbox
        id="@Label">
    <label for="@Label" class="text-gray-300">@Label</label>

</div>

@code {

    private bool _isChecked;

    [Parameter]
    public bool IsChecked
    {
        get => _isChecked;
        set
        {
            if (value != _isChecked) {
                _isChecked = value;

                if (IsCheckedChanged.HasDelegate)
                    IsCheckedChanged.InvokeAsync(value);

                StateHasChanged();
            }
        }
    }

    [Parameter]
    public EventCallback<bool> IsCheckedChanged { get; set; }

    [Parameter]
    public string Label { get; set; } = null!;
}