@page "/chart-test"
@using SkiaSharp.Views.Blazor
<PageTitle>Chart Test Page</PageTitle>

<div class="h-full p-5 flex">
    <Chart Begin=_begin End=_end LineSeries=_lineSeries BeginAtZero="true">
    </Chart>
</div>

