@page "/chart-test"
@using SkiaSharp.Views.Blazor
<PageTitle>Chart Test Page</PageTitle>

<div class="canvas-container">

    <SKGLView
        OnPaintSurface="PaintSurface" 
        EnableRenderLoop=true>
    </SKGLView>

    <div class="overlay"
        @onmousemove="MouseMove"
        @onmouseleave="MouseLeave">
        <div id="crosshairs-x" style="display: none;"></div>
        <div id="crosshairs-y" style="display: none;"></div>
    </div>

</div>
