@page "/chart-test"
@using SkiaSharp.Views.Blazor
<PageTitle>Chart Test Page</PageTitle>

<div style="width: 450px">
    <SKGLView
        OnPaintSurface="PaintSurface" EnableRenderLoop=true>
    </SKGLView>
</div>
