@inject IAppState AppState

@page "/"
@page "/{catalogId}"

<PageTitle>Nexus</PageTitle>

<div class="min-h-full p-4">
    <div class="flex flex-wrap">
        <div class="w-full h-72 sm:w-1/2 flex flex-col overflow-y-auto">
            <ResourceCatalogView Catalog="AppState.RootCatalog" />
        </div>
        <div class="w-full sm:w-1/2 flex-1">
            @if (AppState.SelectedCatalog is not null)
            {
                <h1 class="text-2xl">@Utilities.ToSpaceFilledCatalogId(AppState.SelectedCatalog.Id)</h1>
            }
        </div>
    </div>
    <div>
        Test 2
    </div>
</div>

@code {

    protected override Task OnParametersSetAsync()
    {
        return AppState.SelectCatalogAsync(CatalogId);
    }

    [Parameter]
    public string? CatalogId { get; set; }
}

