@inject IAppState AppState

@page "/"
@page "/{catalogId}"

<PageTitle>Nexus</PageTitle>

<div class="h-full p-4">
    <div class="flex h-1/3">
        <div class="flex flex-col flex-1">
            @foreach (var catalog in AppState.Catalogs)
            {
                @if (catalog == AppState.SelectedCatalog)
                {
                    <a class="cursor-pointer hover:bg-gray-300 rounded p-1 font-bold text-cyan-700">
                        @Utilities.ToSpaceFilledCatalogId(catalog.Id)
                    </a>
                }
                else
                {
                    <a class="cursor-pointer hover:bg-gray-300 rounded p-1" href="@Utilities.EscapeDataString(catalog.Id)">
                        @Utilities.ToSpaceFilledCatalogId(catalog.Id)
                    </a>
                }
            }
        </div>
        <div class="flex-1">
            @if (AppState.SelectedCatalog is not null)
            {
                <h1 class="text-2xl">@Utilities.ToSpaceFilledCatalogId(AppState.SelectedCatalog.Id)</h1>
            }
        </div>
    </div>
    <div class="h-2/3">
        Test 2
    </div>
</div>

@code {

    protected override void OnParametersSet()
    {
        AppState.SelectCatalog(CatalogId);
    }

    [Parameter]
    public string? CatalogId { get; set; }
}

