@using Nexus.Client
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (_userInfo is not null)
            {
                <span>Hello, @_userInfo.Name!</span>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    UserInfo? _userInfo;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpClient = new HttpClient();
            var client = new NexusOpenApiClient("https://localhost:8443", httpClient);

            _userInfo = await client.Users.GetUserInfoAsync();
        }
        catch
        {
            //   
        }
    }
}
