@inject IAppState AppState
@inject INexusClient Client

<div class="flex flex-wrap">
    @foreach (var job in AppState.Jobs)
    {
        <JobView Job="job" />
    }
</div>

@code
{
    protected override void OnInitialized()
    {
        AppState.Jobs.CollectionChanged += (sender, e) => 
        {
            StateHasChanged();    
        };
    }
}