html, body {
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --md-color-text-link: rgb(14, 116, 144);
    --md-pre-code-foreground: rgb(43, 43, 43);
    --md-code-foreground: rgb(215, 186, 125);
    --md-code-background: rgba(153, 153, 153, 0.2);
    --md-table-header: rgba(0, 0, 0, 0.69);
    --md-border: rgb(156 163 175);
}